/* -------------------------------*\
|              COLORES              |
\*---------------------------------*/
body {
  margin: 0; }

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-10px, -10px);
    transform: rotate(45deg) translate(-10px, -10px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(10px, 10px);
    transform: rotate(45deg) translate(10px, 10px); } }

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-10px, -10px);
    transform: rotate(45deg) translate(-10px, -10px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(10px, 10px);
    transform: rotate(45deg) translate(10px, 10px); } }

@-webkit-keyframes feature-g-in {
  from {
    background-color: #e0deee;
    color: #69995d;
    width: 300px; }
  to {
    color: #e0deee;
    background-color: #69995d;
    width: 900px; } }

@keyframes feature-g-in {
  from {
    background-color: #e0deee;
    color: #69995d;
    width: 300px; }
  to {
    color: #e0deee;
    background-color: #69995d;
    width: 900px; } }

@-webkit-keyframes feature-g-out {
  from {
    color: #e0deee;
    background-color: #69995d;
    width: 900px; }
  to {
    background-color: #e0deee;
    color: #69995d;
    width: 300px; } }

@keyframes feature-g-out {
  from {
    color: #e0deee;
    background-color: #69995d;
    width: 900px; }
  to {
    background-color: #e0deee;
    color: #69995d;
    width: 300px; } }

@-webkit-keyframes feature-s-in {
  from {
    background-color: #e0deee;
    color: #ce001a;
    width: 300px; }
  to {
    color: #e0deee;
    background-color: #ce001a;
    width: 900px;
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px); } }

@keyframes feature-s-in {
  from {
    background-color: #e0deee;
    color: #ce001a;
    width: 300px; }
  to {
    color: #e0deee;
    background-color: #ce001a;
    width: 900px;
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px); } }

@-webkit-keyframes feature-s-out {
  from {
    color: #e0deee;
    background-color: #ce001a;
    width: 900px;
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px); }
  to {
    background-color: #e0deee;
    color: #ce001a;
    width: 300px; } }

@keyframes feature-s-out {
  from {
    color: #e0deee;
    background-color: #ce001a;
    width: 900px;
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px); }
  to {
    background-color: #e0deee;
    color: #ce001a;
    width: 300px; } }

@-webkit-keyframes feature-t-in {
  from {
    background-color: #e0deee;
    color: #083d77;
    width: 300px; }
  to {
    color: #e0deee;
    background-color: #083d77;
    width: 900px; } }

@keyframes feature-t-in {
  from {
    background-color: #e0deee;
    color: #083d77;
    width: 300px; }
  to {
    color: #e0deee;
    background-color: #083d77;
    width: 900px; } }

@-webkit-keyframes feature-t-out {
  from {
    color: #e0deee;
    background-color: #083d77;
    width: 900px; }
  to {
    background-color: #e0deee;
    color: #083d77;
    width: 300px; } }

@keyframes feature-t-out {
  from {
    color: #e0deee;
    background-color: #083d77;
    width: 900px; }
  to {
    background-color: #e0deee;
    color: #083d77;
    width: 300px; } }

/* -------------------------------*\
|              GRID                 |
\*---------------------------------*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: wrap column;
  flex-flow: wrap column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #181a1e;
  height: 100vh; }

.servicios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[3];
  grid-template-columns: repeat(3, 300px);
  font-family: "Lobster", cursive;
  overflow: hidden;
  position: relative; }

.servicio-g, .servicio-s, .servicio-t {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #e0deee;
  font-size: 5em;
  border: 1px solid #181a1e;
  width: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 2;
  position: relative;
  height: 450px; }

.servicio-title {
  text-align: center;
  background-color: #e0deee;
  font-size: 5em;
  border: 1px solid #181a1e;
  width: 100%;
  -ms-grid-column-span: 3;
  grid-column: span 3;
  font-size: 2em;
  width: 900px; }

.servicio-g {
  color: #69995d;
  -ms-grid-columns: 1fr 5fr;
  grid-template-columns: 1fr 5fr; }
  .servicio-g h4 {
    position: absolute;
    left: 130px; }

.flecha, .flecha-s, .flecha-t, .flecha-s-1 {
  cursor: pointer;
  z-index: 5;
  position: absolute;
  right: 4%;
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }
  .flecha span, .flecha-s span, .flecha-t span, .flecha-s-1 span {
    display: block;
    width: 20px;
    height: 20px;
    border-right: 2px solid #181a1e;
    border-bottom: 2px solid #181a1e;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 0px;
    -webkit-animation: animate 2s infinite;
    animation: animate 2s infinite; }
  .flecha span:nth-child(2), .flecha-s span:nth-child(2), .flecha-t span:nth-child(2), .flecha-s-1 span:nth-child(2) {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
    -ms-transform: rotate(45deg) translate(-20px, -20px);
    transform: rotate(45deg) translate(-20px, -20px); }

.servicio-s {
  color: #ce001a;
  -ms-grid-columns: 2fr 1fr 2fr;
  grid-template-columns: 2fr 1fr 2fr; }
  .servicio-s h4 {
    text-align: center;
    padding: 0; }

.servicio-t {
  color: #083d77;
  -ms-grid-columns: 5fr 1fr;
  grid-template-columns: 5fr 1fr;
  position: absolute;
  width: 300px;
  right: 0; }
  .servicio-t h4 {
    position: absolute;
    right: 120px; }

.flecha-t, .flecha-s-1 {
  left: 4%; }

.index {
  z-index: 100 !important; }

.features-g, .features-s, .features-t {
  visibility: hidden;
  text-align: center;
  font-size: 4px; }
  .features-g img, .features-s img, .features-t img {
    width: 100%;
    height: 150px;
    padding-top: 25px; }
  .features-g ul, .features-s ul, .features-t ul {
    list-style: none;
    padding: 0; }

.features-g {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr; }
  .features-g .marketing {
    text-align: center; }

.features-t {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr; }

.show {
  visibility: visible;
  font-size: 32px; }

.rotate {
  -webkit-transform: rotate(90deg) translateX(40px);
  -ms-transform: rotate(90deg) translateX(40px);
  transform: rotate(90deg) translateX(40px); }
