body{
  margin: 0;
  padding: 0;
  /*background:-webkit-linear-gradient(#320e3b 0%, #f69f1f 100%);*/
  background: #e3dfff;
  width: 100%;
  height: 100vh;
  position: relative;
}
/*isotipo*/
.st0{fill:#012A36;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st1{fill:#394648;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st2{fill:#fff;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
div.isotipo{
  position: absolute;
  display: flex;
  width:30%;
  height: 70%;
  top: 50%;
  left: 50%;
  /*border:1px solid yellow ;*/
  transform: translate(-80%,-50%);
}
svg#aaa{
  position: absolute;
  width: 99%;
  height:99%;
 /*border:1px solid red ;*/
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
svg#aaa> path{
  stroke:#2c2c2c;
  stroke-dasharray:1420;
  animation: animacion-isotipo 10s infinite;
}
@keyframes animacion-isotipo{
  0%{
    fill-opacity: 0;
    stroke: #2c2c2c;
    stroke-dashoffset: 1420;
  }
  50%{
    fill-opacity: 0;
    }
 55%{
   stroke: #2c2c2c;
   fill-opacity: 0.3;
}
  85%, 95%{
    stroke: #2c2c2c;
  }
}
/*logotipo*/
.st10{fill:none;stroke:none;}
.st11{fill:none;stroke:none;}
div.logotipo{
  position: absolute;
  display: flex;
  width:30%;
  height: 60%;
  top: 50%;
  left: 50%;
  /*border:1px solid green ;*/
  transform: translate(20%,-50%);
}
 svg#marca{
  position: absolute;
  width: 95%;
  height:95%;
 /* border:1px solid red ;*/
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
svg#marca> path{
  stroke-dasharray:1420;
  animation: animacion-marca 10s infinite;
  stroke: #2c2c2c;
}
@keyframes animacion-marca{
  0%{
    stroke-dashoffset: 1420;
  }
  50%{
    fill-opacity: 0;
    }
 55%{
   stroke: #2c2c2c;
   fill-opacity: 0.3;
}
  95%{
    stroke: black;

  }
  100%{
    fill: black
  }
}
@media only screen and (max-width: 576px){
  div.logotipo{
    display: none;
  }
  div.isotipo{
    position: absolute;
    display: flex;
    width:75%;
    height: 70%;
    top: 50%;
    left: 50%;
    /*border:1px solid yellow ;*/
    transform: translate(-50%,-50%);
  }
}
