body{
  background-color: #262626;
  margin: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}
div{
  transition: all .5s ease;
  border-radius: 20px; 
}
.rombo{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.line1, .line2{
  width: 60%;
  height: 4px;
  background-color: #262626;
}
.box{
  width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 5px;
  transform: rotate(45deg);
  overflow: hidden;
  position: relative;
}
.wall{
  width: 100%;
  height: 100%;
  /* opacity: 0; */
  display: none;
  position: absolute; 
  background-color: transparent;
  z-index: 4;
}
.text{
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%; 
  transform: translate(-50%, -50%) rotate(-45deg);
  text-align: center;
}

.text h3{
  margin: 0;
  color: #F4F4F8;
  transition: all .2s ease;
  opacity: 0;
  display: none;

}
.text p{
  margin: 0;
  color: #F3FCF0;
  transition: all .2s ease;
  opacity: 0;
  display: none;
}
.text .text3{
  color: #343a40;
}
.box1{
  background-color: #C3423F;
}
.box2{
  background-color: #9BC53D;
}
.box3{
  background-color: #FDE74C;
}
.box4{
  background-color: #5BC0EB;
}
.effect{ 
transform: scale(3.5);
 z-index: 2;
}
 .text .block, .block{
  display: block;
 }
 .text .vanished{
  opacity: 1;  
 }
 .bg1{
   background-color: #C3423F;
 }
 .bg2{
  background-color: #9BC53D;
}
.bg3{
  background-color: #FDE74C;
}
.bg4{
  background-color: #5BC0EB;
}