/*GENERALES*/
*{
	margin: 0;
	scroll-behavior: smooth;
}
body{
	margin: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased
}
a{
	text-decoration: none;
}
h4{
	color: #fff;
	font-size: 50px;
	text-align: center;
	padding-top: 30px;
}
.titleNosotros{
	padding-top: 30px;
}
/*scroll*/
body::-webkit-scrollbar{
	width: 10px;
	height: 10px;
}
body::-webkit-scrollbar-track{
	background-color: rgba(0, 0, 0, .1);
}
body::-webkit-scrollbar-thumb{
	border-radius: 8px;
	background-color: rgba(0, 0, 0, .3);
}
/*ancla*/
.ancla{
	color: transparent;
	background-color: transparent;
	font-size: 0;
	transform: translateY(-40px);
}
/*NAV*/
header nav{
	width: 100%;
	background-color: rgba(0, 0, 0, .3);
	position: fixed;
	transition: all .5s ease;
	z-index: 2;
}
.bg-blue{
	background-color: #083d77;
	box-shadow:0 0 .5em RGBA(0,0,0,.5);
}
#nav .container{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#nav .logo{
	color: #fff;
	font-size: 32px;
	padding: 5px 0;
}
#nav ul{
	display: flex;
}
#nav ul li{
	list-style: none;
}
#nav ul li a{
	font-size: 16px;
	display: inline-block;
	margin: 0 10px;
	color: rgba(255, 255, 255, .5);
	transition: all .5s ease;
}
#nav ul li .active{
	color: #fff;
	position: relative;
}
#nav ul li .active:before{
	content: '\f107';
	font-family:"Font Awesome 5 Free";
	font-weight: 900;
	font-size: 12px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -150%);
}
#nav ul li:nth-of-type(2) a{
	display: flex;
}
#nav ul li:nth-of-type(2) a i{
	margin-left: 4px;
	margin-top: 2px;
	align-self: center;
}
/*SECTIONS*/
.servicios, .contactanos, footer{
	height: 100vh;
	width: 100%;
}
/*INICIO*/
.inicio {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.inicio img {
	width: 100%;
	display: none;
	filter: brightness(.8);
}
.inicio img.active {
	display: block;
	animation: fadeImg .8s, animateSlide 20s linear infinite;;
}
.inicio .slider-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 50%;
	width: 100%;
	overflow: hidden;
}
.inicio .slider-nav ul li {
	text-align: center;
}
.inicio a {
	color: #fff;
	text-decoration: none;
	font-size: 2.5rem;
}
.inicio a span i {
	display: block;
	cursor: pointer;
	outline: 0;
	transform: translateX(0px);
	transition: transform 0.3s ease;
}
.inicio a.previous span:hover i {
	transform: translateX(-10px) scale(1.2);
}
.inicio a.next span:hover i {
	transform: translateX(10px) scale(1.2);
}
.inicio .slider-nav .arrow {
	flex: 0 0 85%;
}
@keyframes fadeImg {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes animateSlide{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}
/*INTRODUCCIÓN*/

/*NOSOTROS-GST**************
*****************************
*****************************/
.nosotros .introduccion{
/*	background-color: #69995d;*/
	background:-webkit-linear-gradient(#69995d 0%, #394648 100% );
	height: 100vh;
	width: 100%;
	position: relative; /*para poder posicionar el svgn*/
	display: flex;
	justify-content: center;
	align-items: center;
}
/*propiedades del svg1*/
.st60{fill:#262626;}
.st61{fill:none;stroke:#083D77;stroke-width:2;stroke-miterlimit:10;}
/*propiedades del svg2*/
.st0{fill:none;stroke:#083D77;stroke-width:2;stroke-miterlimit:10;}
.st1{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
.st2{fill:#262626;}
.st3{fill:#544741;}
.st4{fill:#183043;}
.st5{fill:#F6C09C;stroke:#DD8D78;stroke-width:3;stroke-miterlimit:10;}
.st6{fill:#015D76;}
.st7{fill:#F1F1F1;}
.st8{fill:#CBD2D5;}
.st9{fill:#D74241;}
.st10{fill:#BF3737;}
.st11{fill:#004052;}
.st12{fill:#394648;}
.st13{fill:#89432E;stroke:#A57168;stroke-miterlimit:10;}
.st14{fill:#F6C09C;stroke:#F6B49C;stroke-miterlimit:10;}
.st15{fill:#F6C09C;}
.st16{fill:#F4BE9A;stroke:#000000;stroke-miterlimit:10;}
.st17{fill:#736355;stroke:#493526;stroke-miterlimit:10;}
.st18{opacity:0.44;}
.st19{fill:#665A55;}
.st20{fill:#DB4141;}
.st21{fill:#E8907E;}
.nosotros .introduccion .svgn{
	position: absolute;
	width: 48%;
	height: 65%;
	border: 2px  solid green;
	top:50%;
	left: 50%;
	transform: translate(-100%, -50%);
	display:block;
	justify-content: center;
	align-items: center;

}
.nosotros .introduccion .svgn2{
	position: absolute;
	width: 48%;
	height: 65%;
	border: 2px  solid white;
	top:50%;
	left: 50%;
	transform: translate(-0%, -50%);
	display:block;
	justify-content: center;
	align-items: center;

}
svg#svg1{
position: absolute;
/*border: 1px  solid green;*/
width: 100%;
height: 100%;
}
svg#svg2{
	position: absolute;
	/*border: 1px  solid blue;*/
	width: 100%;
	height: 100%;
	}

g#ad_1_{
top:0;
left:0;
transform-origin:70.6% 78.5%;
transform: rotateY();
animation: saludo 1.5s  infinite;
}
@keyframes saludo {
0%{	transform: rotate(-15deg);}
50%{transform: rotate(15deg);}
100%{transform: rotate(-15deg);}
}
svg > path#recuadro_1, path#recuadro_2 {
stroke-dasharray:6500;
animation: recuadro 8s /*cubic-bezier(0,.33,1,.89)*/ infinite;
}
@keyframes recuadro{
0%,100%{stroke-dashoffset:0;}
50%{stroke-dashoffset:3500;}
}
@media only screen and (max-width: 576px){
	.nosotros .introduccion .svgn{
		position: absolute;
		width: 43%;
		height: 49%;
		border: 2px  solid yellow;
		top:50%;
		left: 50%;
		transform: translate(-50%, -90%);
		display:block;
		justify-content: center;
		align-items: center;
	
	}
	.nosotros .introduccion .svgn2{
		position: absolute;
		width: 43%;
		height: 49%;
		border: 2px  solid blueviolet;
		top:50%;
		left: 50%;
		transform: translate(-50%, -2%);
		display:block;
		justify-content: center;
		align-items: center;
	
	}
	
	svg > path#recuadro_1{
		transform-origin: center;
		transform: rotate(90deg);
	}
	svg > path#recuadro_2 {
		transform-origin: center;
		transform: rotate(90deg);
	}
}
@media only screen and (max-width: 320px){
	.nosotros .introduccion .svgn{
		position: absolute;
		width:78%;
		height: 50%;
		border: 2px  solid yellow;
		top:50%;
		left: 50%;
		transform: translate(-50%, -99%);
		display:block;
		justify-content: center;
		align-items: center;
	
	}
	.nosotros .introduccion .svgn2{
		position: absolute;
		width: 78%;
		height: 49%;
		border: 2px  solid blueviolet;
		top:50%;
		left: 50%;
		transform: translate(-50%, -10%);
		display:block;
		justify-content: center;
		align-items: center;
	
	}
	svg#svg1{
	position: absolute;
	/*border: 1px  solid green;*/
	width: 100%;
	height: 100%;
	}
	svg#svg2{
		position: absolute;
		/*border: 1px  solid blue;*/
		width: 100%;
		height: 100%;
		}
	svg > path#recuadro_1{
		transform-origin: center;
		transform: rotate(90deg);
	}
	svg > path#recuadro_2 {
		transform-origin: center;
		transform: rotate(90deg);
	}
	
}
/*FIN NOSOTROS - GST****************
*****************************
*****************************/

.nosotros .misionVision{
	background-color: #69995d;
	height: 500px;
	width: 100%;
}
.nosotros .elegirnos{
	/*background-color: #181a1e;*/
	background:-webkit-linear-gradient(#181a18 0%, #e3dfff 100% );
}
.nosotros .elegirnos .rombo{
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
}
.nosotros .elegirnos .rombo *{
	transition: all .5s ease;
	border-radius: 20px;
}
.nosotros .elegirnos .line1, .nosotros .elegirnos .line2{
	width: 60%;
	height: 4px;
	background-color: #181a1e;
}
.nosotros .elegirnos .box{
	width: 350px;
	height: 350px;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	grid-gap: 5px;
	transform: rotate(45deg);
	overflow: hidden;
	position: relative;
}
.nosotros .elegirnos .wall{
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	background-color: transparent;
	z-index: 4;
}
.nosotros .elegirnos .text{
	position: absolute;
	width: 80%;
	z-index: 3;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	text-align: center;
}
.nosotros .elegirnos .text h3{
	margin: 0;
	color: #F4F4F8;
	transition: all .2s ease;
	opacity: 0;
	display: none;
	padding-bottom: 4px;
}
.nosotros .elegirnos .text p{
	margin: 0;
	color: rgba(255, 255, 255, .6);
	transition: all .2s ease;
	opacity: 0;
	display: none;
}
.nosotros .elegirnos .text .text3{
	color: #343a40;
}
.box1, .box2, .box3, .box4{
	display: flex;
	justify-content: center;
	align-items: center;
}
.nosotros .elegirnos .box1{
	background-color: #C3423F;
}
.nosotros .elegirnos .box2{
	background-color: #9BC53D;
}
.nosotros .elegirnos .box3{
	background-color: #5BC0EB;
}
.nosotros .elegirnos .box4{
	background-color: #FDE74C;
}
.nosotros .elegirnos .box .imgRombo{
	width: 100px;
	height: 100px;
	transition: all .5s ease;
	transform: rotate(-45deg);
}
.nosotros .elegirnos .effect{
	transform: scale(3.5);
}
.nosotros .elegirnos .index{
	z-index: 2;
}
.nosotros .elegirnos .text .block, .nosotros .elegirnos .block{
	display: block;
}
.nosotros .elegirnos .text .show{
	opacity: 1;
}
.nosotros .elegirnos .box .vanished{
	opacity: 0;
	transform: rotate(180deg) scale(.1);
}
.nosotros .elegirnos .bg1{
	background-color: #C3423F;
}
.nosotros .elegirnos .bg2{
	background-color: #9BC53D;
}
.nosotros .elegirnos .bg3{
	background-color: #5BC0EB;
}
.nosotros .elegirnos .bg4{
	background-color: #FDE74C;
}
/*SERVICIOS*/
.servicios{
	/*background-color: #e3dfff;*/
	background: -webkit-linear-gradient(#e3dfff 0%, #012a36 100%);
}
.servicios h4{
	color: #262626;
}
/*CONTACTANOS*/
.contactanos{
	/*background-color: #012a36;*/
	background: -webkit-linear-gradient(#012a36 0%, #181a1e 100%);
}
/*FOOTER*/
footer{
	height: 200px;
	background-color: #181a1e;

}
