.main{
    grid-area: main;
    background-color: $color-nav;
    color:$color-text;
    & .nosotros{
        
        & .presentacion-nosotros{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: map-get($map: $margin, $key: lg);
            justify-content: center;
            align-items: center;

            & .resumen-nosotros{
                font-size: map-get($map: $font-size, $key: md);
                padding: map-get($map: $padding, $key: lg);
                text-align: justify;
            }
        }
        & .detalles-nosotros{
            display:flex;
            justify-content: space-evenly;
            align-items: center;
            flex-flow: wrap row;
            & div{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 150px;
                width:25%;
                padding: map-get($map: $padding, $key: lg);
                margin: map-get($map: $margin, $key: lg);
                & h4{
                    margin:map-get($map: $margin, $key: nothing);
                    display: none;
                    bottom: 50%;
                }
            }
            %img-nosotros{
                background-repeat: no-repeat;
                background-position: center;
            }
            & div:nth-of-type(1){
                background-image:url(../images/nosotros/mision.svg);
                @extend %img-nosotros;
            }
            div:nth-of-type(2){
                background-image:url(../images/nosotros/vision.svg);
                @extend %img-nosotros;
            }
            div:nth-of-type(3){
                background-image:url(../images/nosotros/valores.svg);
                @extend %img-nosotros;
            }
            div:nth-of-type(4){
                background-image:url(../images/nosotros/objetivos.svg);
                @extend %img-nosotros;
            }
            div:nth-of-type(5){
                background-image:url(../images/nosotros/politicas.svg);
                @extend %img-nosotros;
            }
        }
            
    }
}

