
/*----------------------------------*\
|               SECTIONS             |
\*----------------------------------*/


/*INTRODUCCIÓN*/
// .nosotros .introduccion{
// 	background-color:$color-main;
// 	height: 500px;
// 	width: 100%;
// }
/*INTRODUCCIÓN*/

/*NOSOTROS-GST**************
*****************************
*****************************/
.descripcion-nosotros{
    position: absolute;
    width: 50%;
    left:25%;
    top:15%;
    text-align: center;
    font-size:1.2em;
}
.nosotros .introduccion{
    /*	background-color: #69995d;*/
        // background:#FFFFFF;
        height: 100vh;
        width: 100%;
        position: relative; /*para poder posicionar el svgn*/
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*propiedades del svg1*/
    .st60{fill:#262626;}
    .st61{fill:none;stroke:#083D77;stroke-width:2;stroke-miterlimit:10;}
    /*propiedades del svg2*/
    .st0{fill:none;stroke:#083D77;stroke-width:2;stroke-miterlimit:10;}
    .st1{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
    .st2{fill:#262626;}
    .st3{fill:#544741;}
    .st4{fill:#183043;}
    .st5{fill:#F6C09C;stroke:#DD8D78;stroke-width:3;stroke-miterlimit:10;}
    .st6{fill:#015D76;}
    .st7{fill:#F1F1F1;}
    .st8{fill:#CBD2D5;}
    .st9{fill:#D74241;}
    .st10{fill:#BF3737;}
    .st11{fill:#004052;}
    .st12{fill:#394648;}
    .st13{fill:#89432E;stroke:#A57168;stroke-miterlimit:10;}
    .st14{fill:#F6C09C;stroke:#F6B49C;stroke-miterlimit:10;}
    .st15{fill:#F6C09C;}
    .st16{fill:#F4BE9A;stroke:#000000;stroke-miterlimit:10;}
    .st17{fill:#736355;stroke:#493526;stroke-miterlimit:10;}
    .st18{opacity:0.44;}
    .st19{fill:#665A55;}
    .st20{fill:#DB4141;}
    .st21{fill:#E8907E;}
    .nosotros .introduccion .svgn{
        position: absolute;
        width: 48%;
        height: 65%;
        // border: 2px  solid green;
        top:50%;
        left: 50%;
        transform: translate(-100%, -50%);
        display:block;
        justify-content: center;
        align-items: center;

    }
    .nosotros .introduccion .svgn2{
        position: absolute;
        width: 48%;
        height: 65%;
        // border: 2px  solid white;
        top:50%;
        left: 50%;
        transform: translate(-0%, -50%);
        display:block;
        justify-content: center;
        align-items: center;

    }
    svg#svg1{
        position: absolute;
        /*border: 1px  solid green;*/
        width: 100%;
        height: 100%;
    }
    svg#svg2{
        position: absolute;
        /*border: 1px  solid blue;*/
        width: 100%;
        height: 100%;
    }
    
    g#ad_1_{
        top:0;
        left:0;
        transform-origin:70.6% 78.5%;
        transform: rotateY();
        animation: saludo 1.5s  infinite;
    }
    @keyframes saludo {
        0%{	transform: rotate(-15deg);}
        50%{transform: rotate(15deg);}
        100%{transform: rotate(-15deg);}
    }
    svg > path#recuadro_1, path#recuadro_2 {
        stroke-dasharray:6500;
        animation: recuadro 8s /*cubic-bezier(0,.33,1,.89)*/ infinite;
    }
    @keyframes recuadro{
        0%,100%{stroke-dashoffset:0;}
        50%{stroke-dashoffset:3500;}
    }
    @media only screen and (max-width: 576px){
        .nosotros .introduccion .svgn{
            position: absolute;
            width: 53%;
            height: 63%;
            // border: 2px  solid yellow;
            top:50%;
            left: 50%;
            transform: translate(-50%, -90%);
            display:block;
            justify-content: center;
            align-items: center;

        }
        .nosotros .introduccion .svgn2{
            position: absolute;
            width: 53%;
            height: 49%;
            // border: 2px  solid blueviolet;
            top:50%;
            left: 50%;
            transform: translate(-50%, -2%);
            display:block;
            justify-content: center;
            align-items: center;

        }
        
        svg > path#recuadro_1{
            transform-origin: center;
            transform: rotate(90deg);
        }
        svg > path#recuadro_2 {
            transform-origin: center;
            transform: rotate(90deg);
        }
    }
    @media only screen and (max-width: 320px){
        .nosotros .introduccion .svgn{
            position: absolute;
            width:78%;
            height: 50%;
            // border: 2px  solid yellow;
            top:50%;
            left: 50%;
            transform: translate(-50%, -99%);
            display:block;
            justify-content: center;
            align-items: center;

        }
        .nosotros .introduccion .svgn2{
            position: absolute;
            width: 78%;
            height: 49%;
            // border: 2px  solid blueviolet;
            top:50%;
            left: 50%;
            transform: translate(-50%, -10%);
            display:block;
            justify-content: center;
            align-items: center;

        }
        svg#svg1{
            position: absolute;
            /*border: 1px  solid green;*/
            width: 100%;
            height: 100%;
        }
        svg#svg2{
            position: absolute;
            /*border: 1px  solid blue;*/
            width: 100%;
            height: 100%;
        }
        svg > path#recuadro_1{
            transform-origin: center;
            transform: rotate(90deg);
        }
        svg > path#recuadro_2 {
            transform-origin: center;
            transform: rotate(90deg);
        }
        
    }
    /*FIN NOSOTROS - GST****************
    *****************************
    *****************************/
    /*Mision Vision*/
    .nosotros .misionVision{
       background-color: $color-background;
       width: 100%;
       height: 100%;
   }
   .nosotros .misionVision .container{
       width: 90%;
       margin: 50px auto;
       display: grid;
       grid-gap: 30px;
   }
   .nosotros .misionVision .mision, .nosotros .misionVision .vision, .nosotros .misionVision .valores, .nosotros .misionVision .objetivos, .nosotros .misionVision .politicas{
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .nosotros .misionVision .mision{
       grid-area: mision;
   }
   .nosotros .misionVision .vision{
       grid-area: vision;
   }
   .nosotros .misionVision .valores{
       grid-area: valores;
   }
   .nosotros .misionVision .objetivos{
       grid-area: objetivos;
   }
   .nosotros .misionVision .politicas{
       grid-area: politicas;
   }
   /* fin de responsive ---------------------------------- */
   /* cardMV */
   .nosotros .misionVision .cardMV{
       position: relative;
       overflow: hidden;
       border-radius: 20px;
   }
   .nosotros .misionVision .cardMV .icon{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       transition: all 0.5s ease;
       z-index: 1;
   }
   .nosotros .misionVision .cardMV:hover .icon{
       top: 20px;
       left: calc(50% - 40px);
       width: 80px;
       height: 80px;
       border-radius: 50%;
   }
   .nosotros .misionVision .cardMV .icon object{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       width: 50%;
       transition: 0.5s;
   }
   .nosotros .misionVision .cardMV:hover .icon object{
       width: 65%;
   }
   .nosotros .misionVision .cardMV .contents{
       position: absolute;
       top: 100%;
       width: 100%;
       padding: 20px;
       transition: all 0.5s ease;
       opacity: 0;
   }
   .nosotros .misionVision .cardMV:hover .contents{
       top: 90px;
       opacity: 1;
   }
   .nosotros .misionVision .cardMV .contents h3{
       margin: 0 0 5px;
       color: #fff;
       font-size: 1.375em;
       text-align: center;
   }
   .nosotros .misionVision .cardMV .contents p{
       color: #fff;
       font-size: .875em;
       height: 100%;
       text-align: center;
   }
   .nosotros .misionVision .cardMV .contents ul li{
       color: #fff;
       font-size: .875em;
   }
   .scroll{
       overflow-y: scroll;
       height: 100%;
   }
   .scroll::-webkit-scrollbar{
       width: 10px;
   }
   .scroll::-webkit-scrollbar-track{
       background-color: transparent;
   }
   .scroll::-webkit-scrollbar-thumb{
       border-radius: 8px;
       background-color: rgba(0, 0, 0, .2);
   }
   .nosotros .misionVision .mision .cardMV .icon{
       background: #319635;
   }
   .nosotros .misionVision .mision .cardMV{
       background: #4caf50;
   }
   .nosotros .misionVision .vision .cardMV .icon{
       background: #f16a6a;
   }
   .nosotros .misionVision .vision .cardMV{
       background: #ff758d;
   }
   .nosotros .misionVision .valores .cardMV .icon{
       background: #23798e;
   }
   .nosotros .misionVision .valores .cardMV{
       background: #3b9eb5;
   }
   .nosotros .misionVision .objetivos .cardMV .icon{
       background: #e4591e;
   }
   .nosotros .misionVision .objetivos .cardMV{
       background: #fd753b;
   }
   .nosotros .misionVision .politicas .cardMV .icon{
       background: #f9c500;
   }
   .nosotros .misionVision .politicas .cardMV{
       background: #ffd32b;
   }
   .nosotros .misionVision .politicas .cardMV .contents h3, .nosotros .misionVision .politicas .cardMV .contents p{
       color: #343a40;
   }
   /*POR QUÉ ELEGIRNOS*/
   %line{
    width: 60%;
    height: 4px;
    background-color:$color-main;
}
.nosotros .elegirnos{
	background-color:$color-main;
    height: 100%;
    & .rombo{
        // height: 100vh;
        margin:150px 0;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        & *{
            transition: all .5s ease;
            border-radius: 20px; 
            cursor: pointer;
        }
    } 
    & .line1{
        @extend %line;
    }
    & .line2{
        @extend %line;
    }
    & .box{
        width: 350px;
        height: 350px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 5px;
        transform: rotate(45deg);
        overflow: hidden;
        & .imgRombo{
            width: 50%;
            height: 50%;
            transition: all .5s ease;
            transform: rotate(-45deg);
        }
        & .vanished{
            opacity: 0;
            transform: rotate(180deg) scale(.1);
        }
    }
    & .wall{
        width: 100%;
        height: 100%;
        display: none;
        position: absolute; 
        background-color: transparent;
        z-index: 4;
    }
    & .text{
        position: absolute;
        width: 80%;
        z-index: 3;
        left: 50%;
        top: 50%; 
        transform: translate(-50%, -50%) rotate(-45deg);
        text-align: center;
        display: none;
        & h3{
            margin: 0;
            color: #F4F4F8;
            transition: all .2s ease;
            opacity: 0;
            display: none;
            padding-bottom: 4px;
            text-transform: uppercase;
        }
        & p{
            margin: 0;
            color: rgba(255, 255, 255, .6);
            transition: all .2s ease;
            opacity: 0;
            display: none;
        }
        & .text3{
            color: #343a40;
        }
        & .show{
            opacity: 1;  
        }
    }
    & .effect{ 
        transform: scale(3.5);
    }
    & .index{ 
        z-index: 2;
    }
}

%box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nosotros .elegirnos{
    & .box1{
        @extend %box;
        background-color: #C3423F;
    }
    & .box2{
        @extend %box;
        background-color: #9BC53D;
    }
    & .box3{
        @extend %box;
        background-color: #5BC0EB;
    }
    & .box4{
        @extend %box;
        background-color: #FDE74C;
    }
}
.nosotros .elegirnos .text .block, .nosotros .elegirnos .block{
	display: block;
}
.nosotros .elegirnos{
    & .bg1{
        background-color: #C3423F;
    }
    & .bg2{
        background-color: #9BC53D;
    }
    & .bg3{
        background-color: #5BC0EB;
    }
    & .bg4{
        background-color: #FDE74C;
    }
}

/*SERVICIOS*/
.servicios{
    background-color: $color-servicios;
}
.servicios-generales{
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
    margin-top:2em;
}
.serviciosl{
    display: grid;
    grid-template-columns: repeat(3,300px);
    font-family: $font-family-service;
    overflow: hidden;
    position: relative;
    // max-width: 100%;
}
%servicio{
    display:grid;
    // grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    background-color: $color-background-servicios;
    font-size:$font-size-servicio;
    border:2px solid #fff;
    width:100%;
    transition: all 1s ease; 
    z-index: 2;
    position: relative;
    height:450px;
    border-radius: 20px;
}

.servicio-g{
    @extend %servicio;
    color:$color-g;
    grid-template-columns: 1fr 5fr;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    & h4{
        position: absolute;
        left: 130px;
    }
}
.servicio-g:hover .flecha{
    visibility: visible;
}
%flecha{
    visibility: hidden;    
    cursor: pointer;
    z-index: 4;
    position: absolute;
    right:4%;
    width: 60px;
    height: 60px;
    transform:rotate(-90deg);
    & span{
        display: block;
        width: 20px;
        height: 20px;
        border-right: 2px solid $color-flecha;
        border-bottom: 2px solid $color-flecha;
        transform: rotate(-45deg);
        margin: 0px;
        animation: animate 2s infinite;
    }
    & span:nth-child(2){
        animation-delay: -0.2s;
        transform: rotate(45deg) translate(-20px, -20px);
    }
}
.flecha{
    @extend %flecha;
}
.flecha-s{
    @extend %flecha;
}
.flecha-s-1{
    @extend .flecha-t;
}

.servicio-s{
    @extend %servicio;
    color:$color-s;
    grid-template-columns: 2fr 1fr 2fr;
    transition: all 1s ease;

    & h4{
        text-align: center;
        padding:0;
    }
}
.servicio-s:hover .flecha-s{
    visibility: visible;
}
.servicio-s:hover .flecha-s-1{
    visibility: visible;
}
.servicio-t{
    @extend %servicio;
    color:$color-t;
    grid-template-columns: 5fr 1fr;
    transition: all 1s ease;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    & h4{
        position: absolute;
        right: 120px;
    }
}
.servicio-t:hover .flecha-t{
    visibility: visible;
    
}
.flecha-t{
    @extend %flecha;
    left: 4%;
}

.index-1{
    z-index: 100 !important;
}
%features{
    visibility: hidden;
    text-align: center;
    font-size:map-get($map: $font-size, $key: xs );
    // height: 100%;
    & img{
        width: 100%;
        height: 150px;
        padding-top: map-get($map: $padding, $key: extra-big);
    }
    & ul{
        list-style:none;
        padding: 0;
    }
}
%centrar{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}
.features-g{
    @extend %features;
    display: grid;
    grid-template-columns: 1fr 1fr;
    & .marketing{
        text-align: center;
    }
}
.features-s{
    @extend %features;
}
.features-t{
    @extend %features;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.show-1{
    visibility: visible;
    font-size:map-get($map: $font-size, $key:lg );

}
.rotate{
    transform: rotate(90deg) translateX(+40px);
    
}


/*CONTACTANOS*/
/*CONTACTANOS*/
.contactanos{
	background-color: $color-background;
	height: 100%;
}
.contactanos .container{
	width: 100%;	
	margin-right: auto;
	margin-left: auto;
	display: grid;	
	grid-template: auto / repeat(2, auto);
	justify-items: center;
}
.contactanos .map, .contactanos .form{
	width: 400px;
	height: 600px;
	margin: 50px 0 100px;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .5);
}
.contactanos .map iframe{
	width: 400px;
	height: 600px;
}
.contactanos .form {
	padding: 40px;
	background-color: rgba(0, 0, 0, .8);
}
.contactanos .form h4{
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
	font-size: 2em;
}
.contactanos .form .inputBox,
.contactanos .form .textArea{
	position: relative
}
.contactanos .form .inputBox input{
	width: 100%;
	padding: 10px 0;
	font-size: 1em;
	color: #fff;
	margin-bottom: 30px;
	border: 0;
	border-bottom: 1px solid #fff;
	outline: 0;
	background-color: transparent
}
.contactanos .form .textArea textarea {
	width: 100%;
	height: 8em;
	padding: .3em;
	font-size: 1em;
	color: #fff;
	margin-bottom: 30px;
	border: 0;
	border: 1px solid #fff;
	border-radius: 10px;
	outline: 0;
	background-color: transparent;
	font-family: inherit;
}
.contactanos .form .inputBox label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 1em;
	color: #fff;
	pointer-events: none;
	transition: .5s
}
.contactanos .form .textArea label {
	padding: 10px 0;
	font-size: 1em;
	color: #fff;
	pointer-events: none
}
.contactanos .form .inputBox input:focus~label,
.contactanos .form .inputBox input:valid~label{
	top: -18px;
	left: 0;
	color: #03a9f4;
	font-size: 12px
}
.contactanos .form .btn-form{
	display: flex;
	justify-content: center;
}
.contactanos .form .btn-form button{
	border: none;
	outline: none;
	padding: 8px;
	font-family: inherit;
	cursor: pointer;
	border-radius: 5px;
	background-color: #007bff;
	color: #fff;
	transition: .5s;
}
.contactanos .form .btn-form button:hover{
	background-color: #0069d9;
}
