/* -------------------------------*\
|              NAV                  |
\*---------------------------------*/

.nav{
    display: grid;
    grid-template-columns: 3fr 6fr ;
    grid-auto-rows:70px;
    background:transparent;
    align-items: center;
    background-color:$color-nav;
    position: fixed;
    width:100%;
    top:0;
    z-index: 2;
}
.logo{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 60px;
}
.features-item{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    & a{
        color:$color-text-nav;
        text-decoration: none;
    }
    
}