/* -------------------------------*\
|             PORTADA                  |
\*---------------------------------*/
/*INICIO*/
.inicio {
	width: 100%;
	position: relative;
    overflow: hidden;
    & img {
        width: 100%;
        display: none;
        filter: brightness(.8);
        &.active{
            display: block;
	        animation: fadeImg .8s, animateSlide 20s linear infinite;
        }
    }
    & .slider-nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50%;
        width: 100%;
        overflow: hidden;
        & li {
            text-align: center;
        }
    }
    & a {
        color: #fff;
        text-decoration: none;
        font-size: 2.5rem;

        & span i {
            display: block;
            cursor: pointer;
            outline: 0;
            transform: translateX(0px);
            transition: transform 0.3s ease;
        }
        &.previous span:hover i {
            transform: translateX(-10px) scale(1.2);
        }
        &.next span:hover i {
            transform: translateX(10px) scale(1.2);
        }
    }
    & .slider-nav .arrow {
        flex: 0 0 85%;
    }
}