<header class="header">
    
    <section class="portada">
        <ul>
            <li>
                <input type="radio" class="radio" name="radio" checked>
                <div class="slide">
                    <img src="images/carrusel-1.png" alt="Portada-Sistema-GST">
                </div>
            </li>
            <li>
                <input type="radio" class="radio" name="radio">
                <div class="slide">
                    <img src="images/carrusel-2.png" alt="Portada-Sistema-GST">
                </div>
            </li>
        </ul>
    </section>
    <nav class="nav">
        <div class="logo">
            <img src="images/b-logotipo.svg" alt="Logo">
        </div>
        <div class="features">
            <ul class="features-item">
                <a href="#"><li>Inicio</li></a>
                <a href="#"><li>Nosotros</li></a>
                <a href="#"><li>Servicios</li></a>
                <a href="#"><li>Contáctanos</li></a>
            </ul>
        </div>
    </nav>
</header>