<main class="main">
    <section class="nosotros">
        <h3>GESTORIA GST</h3>
        <article class="presentacion-nosotros">
            <figure>
                    <img src="images/nosotros.png" alt="imagen-nosotros">
            </figure>
            <div class="resumen-nosotros">
                <p>
                        GST es una empresa huancaína conformada por un equipo de profesionales en TI y desarrollo web con experiencia en marketing digital y diseño gráfico que hacen posible el crecimiento de su negocio; por ello nuestro conocimiento es necesario para que su negocio pueda alcanzar un importante nivel de reconocimiento entre los clientes, los empleados y los competidores. 
                </p>
            </div>
        </article>
        <hr>
        <article class="detalles-nosotros">
            <div><h4>Mision</h4></div>
            <div><h4>Vision</h4></div>
            <div><h4>Valores</h4></div>
            <div><h4>Objetivos</h4></div> 
            <div><h4>Politicas</h4></div>    
        </article>
        <hr>
        <h3>¿Por qué elegirnos?</h3>
        <article class="elegirnos">

        </article>        
    </section>
    
</main>