*{
    margin:map-get($map: $margin, $key: nothing );
	scroll-behavior: smooth;
	box-sizing: border-box;

}
body{
    margin: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
h4{
	// color: $color-titulos-main;
	font-size: 50px;
	text-align: center;
	padding-top: 40px;
}
/*scroll*/
body::-webkit-scrollbar{
	width: 10px;
	height: 10px;
}
body::-webkit-scrollbar-track{
	background-color: $color-scroll-track; 
}
body::-webkit-scrollbar-thumb{
	border-radius: map-get($map: $radius, $key: xs);
	background-color: $color-scroll-thumb;
}
/*ancla*/
.ancla{
	color: transparent;
	background-color: transparent;	
	font-size: 0;
	transform: translateY(-40px);
}