/*GENERALES*/
*{
	margin: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
}
a{
	text-decoration: none;
}
h4{
	color: #262626;
	font-size: 3em;
	text-align: center;
	padding-top: 30px;
}
/*scroll*/
body::-webkit-scrollbar{
	width: 10px;
	height: 10px;
}
body::-webkit-scrollbar-track{
	background-color: rgba(0, 0, 0, .1); 
}
body::-webkit-scrollbar-thumb{
	border-radius: 8px;
	background-color: rgba(0, 0, 0, .3);
}
.transition{
	transition: all 0.5s ease;
}
.bg-oscuro{
	background-color: rgba(0, 0, 0, 0.4);
}
/*ancla*/
.ancla{
	color: transparent;
	background-color: transparent;	
	font-size: 0;
	transform: translateY(-40px);
}
/*Loading*/
.loading{
	width: 100%;
	height: 100vh;
	background-color: #000;
	z-index: 99999999;
	position: fixed;
	transition: 2s;
}
.loadingOpacity{
	opacity: 0;
}
.loadingGhost{
	display: none;
}
/*NAV*/
header #nav{
	width: 100%;
	background-color: rgba(0, 0, 0, .3);
	position: fixed;
	top: 0;
	transition: all .3s ease;
	z-index: 8;
}
#nav.bg-blue{
	background-color: #083d77;
	box-shadow:0 0 .5em rgba(0,0,0,.5);
}
#nav .container{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#nav .logo{
	color: #fff;
	font-size: 32px;
}
#nav ul{
	display: flex;
}
#nav ul li{
	list-style: none;
}
#nav ul li a{
	font-size: 16px;
	display: inline-block;
	margin: 10px;
	color: rgba(255, 255, 255, .5);
	transition: all .3s ease;
}
#nav ul li a:hover{
	color: #fff;
}
#nav ul li a.active{
	color: #fff;
	position: relative;
}
#nav ul li .active:before{
	content: '\f107';
	font-family:"Font Awesome 5 Free";
	font-weight: 900;
	font-size: 12px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -150%);
}
#nav ul li:nth-of-type(2) a{
	display: flex;
}
#nav ul li:nth-of-type(2) a i{
	margin-left: 4px;
	margin-top: 2px;
}
#nav ul li:hover:nth-of-type(2) a i{
	transform: rotate(180deg);
}
#nav ul li:nth-of-type(2) ul{
	position: absolute;
	top: 99%;
	background-color: rgba(0, 0, 0, .3);
	display: none;
	padding: 0;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;		
}
#nav ul li:hover:nth-of-type(2) ul{
	display: block;
}
#nav ul li:nth-of-type(2) ul.bgBlue{
	background-color: #083d77;
	box-shadow:0 0 1px rgba(0,0,0,.5);
}
/*Responsive nav*/
.menu-toggle{
	position: fixed;
	top: 0;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 12px;
	z-index: 8;
}
.menu-toggle i{
	color: #fff;
	font-size: 24px;
	cursor: pointer;
}
header #push{
	background-color: #fff;
}
#push .container{
	padding: 0 20px;	
}
#push .navTitle{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#push .navTitle .logo{
	color: #262626;
	font-size: 32px;
	display: inline-block;
	padding-top: 8px;
}
#push .navTitle i{
	color: #262626;
	cursor: pointer;
}
#push ul{
	padding: 0;
}
#push ul li{
	list-style: none;
}
#push ul li a{
	display: block;
	text-decoration: none;
	color: #aaa;
	padding: 10px 5px;
	transition: all .3s ease;
}
#push ul li a:hover{
	color: #262626;
}
#push ul li a.activePush{
	color: #262626;
}
#push ul li:nth-of-type(2) a{
	display: flex;
}
#push ul li:nth-of-type(2) a i{
	margin-left: 8px;
	margin-top: 2px;
}
#push ul li:hover:nth-of-type(2) a i{
	transform: rotate(180deg);
}
#push ul li:nth-of-type(2) ul{
	height: 0;
	overflow: hidden;
	transition: all .3s linear;
	padding-left: 20px;
}
#push ul li:hover:nth-of-type(2) ul{
	height: 100%;
}
/*SECTIONS*/
.servicios, footer{
	height: 100vh;
	width: 100%;
}
/*INICIO*/
.inicio {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.inicio img {
	width: 100%;
	display: none;
	filter: brightness(.8);
}
.inicio img.active {
	display: block;
	animation: fadeImg .8s, animateSlide 20s linear infinite;;
}
.inicio .slider-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 50%;
	width: 100%;
	overflow: hidden;
}
.inicio .slider-nav ul li {
	text-align: center;
}
.inicio a {
	color: #fff;
	text-decoration: none;
	font-size: 2.5rem;
}
.inicio a span i {
	display: block;
	cursor: pointer;
	outline: 0;
	transform: translateX(0px);
	transition: transform 0.3s ease;
}
.inicio a.previous span:hover i {
	transform: translateX(-10px) scale(1.2);
}
.inicio a.next span:hover i {
	transform: translateX(10px) scale(1.2);
}
.inicio .slider-nav .arrow {
	flex: 0 0 85%;
}
@keyframes fadeImg {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes animateSlide{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}
/*INTRODUCCIÓN*/
.nosotros .introduccion{
	background-color: #e3dfff;
	height: 500px;
	width: 100%;
}
/*Mision Vision*/
.nosotros .misionVision{
	background-color: #e3dfff;
	width: 100%;
	height: 100%;.
}
.nosotros .misionVision .container{
	width: 90%;
	margin: 50px auto;
	display: grid;
	grid-gap: 30px;
}
.nosotros .misionVision .mision, .nosotros .misionVision .vision, .nosotros .misionVision .valores, .nosotros .misionVision .objetivos, .nosotros .misionVision .politicas{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nosotros .misionVision .mision{
	grid-area: mision;
}
.nosotros .misionVision .vision{
	grid-area: vision;
}
.nosotros .misionVision .valores{
	grid-area: valores;
}
.nosotros .misionVision .objetivos{
	grid-area: objetivos;
}
.nosotros .misionVision .politicas{
	grid-area: politicas;
}
/* fin de responsive ---------------------------------- */
/* cardMV */
.nosotros .misionVision .cardMV{
	position: relative;
	overflow: hidden;
	border-radius: 20px;
}
.nosotros .misionVision .cardMV .icon{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease;
	z-index: 1;
}
.nosotros .misionVision .cardMV:hover .icon{
	top: 20px;
	left: calc(50% - 40px);
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.nosotros .misionVision .cardMV .icon object{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	transition: 0.5s;
}
.nosotros .misionVision .cardMV:hover .icon object{
	width: 65%;
}
.nosotros .misionVision .cardMV .contents{
	position: absolute;
	top: 100%;
	width: 100%;
	padding: 20px;
	transition: all 0.5s ease;
	opacity: 0;
}
.nosotros .misionVision .cardMV:hover .contents{
	top: 90px;
	opacity: 1;
}
.nosotros .misionVision .cardMV .contents h3{
	margin: 0 0 5px;
	color: #fff;
	font-size: 1.375em;
	text-align: center;
}
.nosotros .misionVision .cardMV .contents p{
	color: #fff;
	font-size: .875em;
	height: 100%;
	text-align: center;
}
.nosotros .misionVision .cardMV .contents ul li{
	color: #fff;
	font-size: .875em;
}
.scroll{
	overflow-y: scroll;
	height: 100%;
}
.scroll::-webkit-scrollbar{
	width: 10px;
}
.scroll::-webkit-scrollbar-track{
	background-color: transparent;
}
.scroll::-webkit-scrollbar-thumb{
	border-radius: 8px;
	background-color: rgba(0, 0, 0, .2);
}
.nosotros .misionVision .mision .cardMV .icon{
	background: #319635;
}
.nosotros .misionVision .mision .cardMV{
	background: #4caf50;
}
.nosotros .misionVision .vision .cardMV .icon{
	background: #f16a6a;
}
.nosotros .misionVision .vision .cardMV{
	background: #ff758d;
}
.nosotros .misionVision .valores .cardMV .icon{
	background: #23798e;
}
.nosotros .misionVision .valores .cardMV{
	background: #3b9eb5;
}
.nosotros .misionVision .objetivos .cardMV .icon{
	background: #e4591e;
}
.nosotros .misionVision .objetivos .cardMV{
	background: #fd753b;
}
.nosotros .misionVision .politicas .cardMV .icon{
	background: #f9c500;
}
.nosotros .misionVision .politicas .cardMV{
	background: #ffd32b;
}
.nosotros .misionVision .politicas .cardMV .contents h3, .nosotros .misionVision .politicas .cardMV .contents p{
	color: #343a40;
}
/*Porque elegirnos*/
.nosotros .elegirnos{
	background-color: #e3dfff;
	height: 100%;
}
.nosotros .elegirnos .rombo{
	margin: 150px 0;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	justify-items: center;
	align-items: center;
}
.nosotros .elegirnos .rombo *{
	transition: all .5s ease;
	cursor: pointer;
}
.nosotros .elegirnos .line1, .nosotros .elegirnos .line2{
	background-color: transparent;
}
.nosotros .elegirnos .box{
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	grid-gap: 8px;
	transform-origin: center;	
	transform: rotate(45deg);
	overflow: hidden;
}
.nosotros .elegirnos .wall{
	width: 100%;
	height: 100%;
	display: none;
	position: absolute; 
	background-color: transparent;
	z-index: 4;
}
.nosotros .elegirnos .text{
	position: absolute;
	width: 80%;
	z-index: 2;
	left: 50%;
	top: 50%; 
	transform: translate(-50%, -50%) rotate(-45deg);
	text-align: center;
	display: none;
}
.nosotros .elegirnos .text h3{
	margin: 0;
	color: #F4F4F8;
	font-size: 1.2em;
	transition: all .2s ease;
	opacity: 0;
	display: none;
	padding-bottom: 4px;
	text-transform: uppercase;
}
.nosotros .elegirnos .text p{
	margin: 0;
	color: rgba(255, 255, 255, .6);
	font-size: 1em;
	transition: all .2s ease;
	opacity: 0;
	display: none;
}
.nosotros .elegirnos .text .text3{
	color: #343a40;
}
.box1, .box2, .box3, .box4{
	display: flex;
	justify-content: center;
	align-items: center;
}
.nosotros .elegirnos .box1{
	background-color: #C3423F;
}
.nosotros .elegirnos .box2{
	background-color: #9BC53D;
}
.nosotros .elegirnos .box3{
	background-color: #5BC0EB;
}
.nosotros .elegirnos .box4{
	background-color: #FDE74C;
}
.nosotros .elegirnos .box .imgRombo{
	width: 50%;
	height: 50%;
	transition: all .5s ease;
	transform: rotate(-45deg);
}
.nosotros .elegirnos .effect{ 
	transform: scale(3.5);
}
.nosotros .elegirnos .index{ 
	z-index: 2;
}
.nosotros .elegirnos .text .block, .nosotros .elegirnos .block{
	display: block;
}
.nosotros .elegirnos .text .show{
	opacity: 1;  
}
.nosotros .elegirnos .box .vanished{
	opacity: 0;
	transform: rotate(-45deg) scale(.1);
}
.nosotros .elegirnos .bg1{
	background-color: #C3423F;
}
.nosotros .elegirnos .bg2{
	background-color: #9BC53D;
}
.nosotros .elegirnos .bg3{
	background-color: #5BC0EB;
}
.nosotros .elegirnos .bg4{
	background-color: #FDE74C;
}
/*SERVICIOS*/
.servicios{
	background-color: #e3dfff;
}
/*CONTACTANOS*/
.contactanos{
	background-color: #e3dfff;
	height: 100%;
}
.contactanos .container{
	width: 90%;	
	margin-right: auto;
	margin-left: auto;
	display: grid;	
	justify-items: center;
}
.contactanos .map, .contactanos .form{
	margin: 50px 0 100px;
	overflow: hidden;
	box-shadow: 0 0 12px rgba(0, 0, 0, .5);
}
.contactanos .map iframe{
	width: 400px;
	height: 600px;
}
.contactanos .form {
	padding: 40px;
	background-color: rgba(0, 0, 0, .8);
}
.contactanos .form h4{
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
	font-size: 2em;
}
.contactanos .form .inputBox,
.contactanos .form .textArea{
	position: relative
}
.contactanos .form .inputBox input{
	width: 100%;
	padding: 10px 0;
	font-size: 1em;
	color: #fff;
	margin-bottom: 30px;
	border: 0;
	border-bottom: 1px solid #fff;
	outline: 0;
	background-color: transparent
}
.contactanos .form .textArea textarea {
	width: 100%;
	height: 8em;
	padding: .3em;
	font-size: 1em;
	color: #fff;
	margin-bottom: 30px;
	border: 0;
	border: 1px solid #fff;
	border-radius: 10px;
	outline: 0;
	background-color: transparent;
	font-family: inherit;
}
.contactanos .form .inputBox label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 1em;
	color: #fff;
	pointer-events: none;
	transition: .5s
}
.contactanos .form .textArea label {
	padding: 10px 0;
	font-size: 1em;
	color: #fff;
	pointer-events: none
}
.contactanos .form .inputBox input:focus~label,
.contactanos .form .inputBox input:valid~label{
	top: -18px;
	left: 0;
	color: #03a9f4;
	font-size: 12px
}
.contactanos .form .btn-form{
	display: flex;
	justify-content: center;
}
.contactanos .form .btn-form button{
	border: none;
	outline: none;
	padding: 8px;
	font-family: inherit;
	cursor: pointer;
	border-radius: 5px;
	background-color: #007bff;
	color: #fff;
	transition: .5s;
}
.contactanos .form .btn-form button:hover{
	background-color: #0069d9;
}
/*FOOTER*/
footer{
	height: 200px;
	background-color: #181a1e;
}
footer h4{
	color: #fff;
}

/* map y form responsive -----------------------------------------*/
/* Extra Small x-s */
@media ( min-width : 320px ) {     
	/*general*/
	body{
		font-size: 10px;
	}
	/*nav*/
	#nav ul{
		display: none;
	}
	.menu-toggle i{
		display: block;
	}
	/*mv*/
	.nosotros .misionVision .container{
		grid-template: repeat(5, auto) / repeat(2, auto);
		grid-template-areas: "mision mision" "vision vision" "valores valores" "objetivos objetivos" "politicas politicas";
	}
	.nosotros .misionVision .cardMV{
		width: 270px;
		height: 270px;
	}
	.nosotros .misionVision .cardMV .contents{
		font-size: 13.5px;
		height: calc(100% - 130px);
	}
	/*rombo*/
	.nosotros .elegirnos .rombo *{
		border-radius: 10px; 
	}
	.nosotros .elegirnos .box{
		grid-gap: 5px;
	}
	.nosotros .elegirnos .line1, .nosotros .elegirnos .line2{
		width: 0;
		height: 0;
	}
	.nosotros .elegirnos .box{
		width: 200px;
		height: 200px;
	}
	.nosotros .elegirnos .text{
		font-size: 11px;
	}
	/*contactanos*/
	.contactanos .container{
		grid-template: repeat(2, auto) / auto;
	}
	.contactanos .map, .contactanos .form{
		width: 280px;
		height: 500px;
		border-radius: 20px;
	}
}
/* Small - sm */
@media ( min-width : 576px ) { 
	/*general*/
	body{
		font-size: 16px;
	}
	/*mv*/
	.nosotros .misionVision .cardMV{
		width: 370px;
		height: 270px;
	}
	.nosotros .misionVision .cardMV .contents{
		font-size: 16px;
		height: calc(100% - 130px);
	}
	/*rombo*/
	.nosotros .elegirnos .box{
		width: 300px;
		height: 300px;
	}
	.nosotros .elegirnos .text{
		font-size: 12px;
	}
	/*contactanos*/
	.contactanos .container{
		grid-template: repeat(2, auto) / auto;
	}
	.contactanos .map, .contactanos .form{
		width: 400px;
		height: 600px;
	}
}
/* Medium -md (punto de interrupción) */
@media (min-width: 768px) {  
	/*nav*/
	#nav ul{
		display: flex;
	}
	.menu-toggle i{
		display: none;
	}
	/*mv*/
	.nosotros .elegirnos .box{
		width: 350px;
		height: 350px;
	}
	/*rombo*/
	.nosotros .elegirnos .rombo *{
		border-radius: 20px; 
	}
	.nosotros .elegirnos .box{
		grid-gap: 8px;
	}
	.nosotros .elegirnos .text{
		font-size: 14px;
	}
	
}
/* Large - lg */
@media ( min-width : 992px ) {  
	/*mv*/
	.nosotros .misionVision .container{
		grid-template: repeat(3, auto) / repeat(4, auto);
		grid-template-areas: "mision mision vision vision" "valores valores objetivos objetivos" ". politicas politicas .";
	}  
	/*rombo*/
	.nosotros .elegirnos .box{
		width: 300px;
		height: 300px;
	}
	.nosotros .elegirnos .line1, .nosotros .elegirnos .line2{
		width: 60%;
		height: 4px;
	}
	.nosotros .elegirnos .text{
		font-size: 15px;
	}
	/*contactanos*/
	.contactanos .container{
		grid-template: auto /  repeat(2, auto);
	}
}
/* Extra Large - xl */
@media ( min-width : 1200px ) { 
	/*rombo*/
	.nosotros .elegirnos .box{
		width: 350px;
		height: 350px;
	}
	.nosotros .elegirnos .text{
		font-size: 16px;
	}
}
/* Extra Large - xl */
@media ( min-width : 1300px ) {  
	/*rombo*/
	.nosotros .elegirnos .box{
		width: 400px;
		height: 400px;
	}
	/*mv*/
	.nosotros .misionVision .container{
		grid-template: repeat(2, auto) / repeat(6, auto);
		grid-template-areas: "mision mision vision vision valores valores" ". objetivos objetivos politicas politicas .";
	}
}